.email a{
  text-transform: lowercase;
}

.phone a, .email a {
  text-decoration: none;
}
.addBtn {
  border-radius: 50%;
  border-color: darkblue;
}

#sofi .personLegalNameFirst {
  text-transform: lowercase;
}


.email, .phone {
  padding: .5rem;
}
.mobile {
  display: none;
}
.tablet {
  display: none;
}
.desktop {
  display: none;
}
.requestIcons {
  display: flex;
}

.requestCost {
  padding: 0 .5rem;
}
/* #region 300 */
@media only screen and (min-width: 300px) and (max-width: 767px){
  .mobile {
    display: block;
  }
}
/* #endregion 300 */

/* #region 768 */
@media screen and (min-width: 768px) and (max-width: 959px) {
.tablet {
  display: block;
}
}
/* #endregion  768 */

/* #region  960 */
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .desktop {
    display: block;
  }
}
/* #endregion 960 */

/* #region  1280 */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .desktop {
    display: block;
  }
}
/* #endregion  1280 */

/* #region 1920 */
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .desktop {
    display: block;
  }
}
/* #endregion  1920 */
