
<div class="pageWrapper">
  <ng-container *ngFor="let x of travelRequest | async">
    <ng-container *ngIf="x.primaryRequestType === 'flight'">
       <div class="summary">
    
     
     <div class="flightSection">
      <div class="btnWrapper">
        <button mat-mini-fab class="greenBtn" color="primary"
       (click)="viewRequestFn(x.docId, x.flightRequestType)"><span class="material-icons">
        launch
        </span> </button>
       <button mat-mini-fab class="redBtn" color="warn"
       (click)="openDeleteDialogFn(x.docId, x.primaryRequestType)">
       <span class="material-icons">
        delete
        </span> 
       </button>
     </div>

      <div class="primaryRequestType">
        <p class="sectionLabel">  Primary Request Type</p>
        <p class="sectionData"> {{x.primaryRequestType | uppercase}} ({{x.flightRequestLabel}})</p>
      
       </div>
        <div class="flightFromAirport">
        <p class="sectionLabel">Flying From</p>
        <ng-container *ngIf="x.flightFromAirport?.optionName">
          <p class="sectionData">{{ x.flightFromAirport.optionName }}</p>
        </ng-container>
      </div>
      <div class="flightToAirport">
        <p class="sectionLabel">Flying To</p>
        <ng-container *ngIf=" x.flightToAirport?.optionName">
          <p class="sectionData">{{ x.flightToAirport.optionName }}</p>
        </ng-container>
      </div>

      <div class="flightStartDate">
        <p class="sectionLabel">Departure Date</p>
        <p class="sectionData">
          {{ x.flightStartDateMM }} / {{ x.flightStartDateDD }} /
          {{ x.flightStartDateYYYY }}
        </p>
      </div>
      <ng-container *ngIf="x.flightEndDateMM">
        <div class="flightEndDate">
          <p class="sectionLabel">Return Date</p>
          <p class="sectionData">
            {{ x.flightEndDateMM }} / {{ x.flightEndDateDD }} /
            {{ x.flightEndDateYYYY }}
          </p>
        </div>
      </ng-container>
      <div class="purposeOfTravel">
        <p class="sectionLabel">Request Purpose </p>
        <p class="sectionData">{{x.purposeOfTravel}} </p>
      </div>
     </div>
    </div>
    </ng-container>
    <ng-container *ngIf="x.primaryRequestType === 'accommodation'">
       <div class="summary">
  
     
     <div class="accommodationSection">
      <div class="btnWrapper">
        <button mat-mini-fab class="greenBtn" color="primary"
       (click)="viewAccomodationRequestFn(x.docId)"><span class="material-icons">
        launch
        </span> </button>
       <button mat-mini-fab class="redBtn"  color="warn"
       (click)="openDeleteDialogFn(x.docId, x.primaryRequestType)">  <span class="material-icons">
        delete
        </span></button>
     </div>
      <div class="primaryRequestType">
        <p class="sectionLabel">  Primary Request Type</p>
        <p class="sectionData"> {{x.primaryRequestType | uppercase}}</p>
      </div>

      <div class="hotelCheckInDate">
        <p class="sectionLabel">Check In</p>
        <p class="sectionData">
          {{ x.accommodationStartDateMM }} / {{ x.accommodationStartDateDD }} /
          {{ x.accommodationStartDateYYYY }}
        </p>
      </div>
      <div class="hotelCheckOutDate">
        <p class="sectionLabel">Check Out</p>
        <p class="sectionData">
          {{ x.accommodationEndDateMM }} / {{ x.accommodationEndDateDD }} /
          {{ x.accommodationEndDateYYYY }}
        </p>
      </div>
           <div class="purposeOfTravel">
        <p class="sectionLabel">Request Purpose </p>
        <p class="sectionData">{{x.purposeOfTravel}} </p>
      </div>
     </div>
    </div>
    </ng-container>
    <ng-container *ngIf="x.primaryRequestType === 'vehicle'">
       <div class="summary">

     
     <div class="vehicleSection">
      <div class="btnWrapper">
        <button mat-mini-fab class="greenBtn" color="primary"
       (click)="viewVehicleRequestFn(x.docId)"><span class="material-icons">
        launch
        </span> </button>
        <button mat-mini-fab class="redBtn" color="warn"
       (click)="openDeleteDialogFn(x.docId, x.primaryRequestType)">  <span class="material-icons">
        delete
        </span> </button>
     </div>
      <div class="primaryRequestType">
        <p class="sectionLabel">  Primary Request Type</p>
        <p class="sectionData"> {{x.primaryRequestType | uppercase}}</p>
      
       </div>
   

      <div class="vehiclePickUpDate">
        <p class="sectionLabel">Pick Up</p>
        <p class="sectionData">
          {{ x.vehicleStartDateMM }} / {{ x.vehicleStartDateDD }} /
          {{ x.vehicleStartDateYYYY }}
        </p>
      </div>
      <ng-container *ngIf="x.vehicleReturnDate">
        <div class="vehicleReturnDate">
          <p class="sectionLabel">Drop Off</p>
          <p class="sectionData">
            {{ x.vehicleEndDateMM }} / {{ x.vehicleEndDateDD }} /
            {{ x.vehicleEndDateYYYY }}
          </p>
        </div>
      </ng-container>
      <div class="purposeOfTravel">
        <p class="sectionLabel">Request Purpose </p>
        <p class="sectionData">{{x.purposeOfTravel}} </p>
      </div>
     </div>
    </div>
    </ng-container>

   
  </ng-container>
</div>

