<div class="pageWrapper">
  <div class="buttonRow">
    <button
      [routerLink]="['single-city']"
      class="raButtons"
      matTooltip="Flight"
      mat-raised-button
    >
      <mat-icon inline="true">flight</mat-icon> One Way | Return
    </button>
    <button
      [routerLink]="['multi-city']"
      class="raButtons"
      matTooltip="New"
      mat-raised-button
    >
      <mat-icon inline="true"></mat-icon> Multi City
    </button>
    <button
      [routerLink]="['groups']"
      class="raButtons"
      matTooltip="New"
      mat-raised-button
    >
      <mat-icon inline="true"></mat-icon> Groups
    </button>
  </div>
  <router-outlet></router-outlet>

  <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->

  <div class="buttonRow">
    <!-- <button  (click)="changeViewFn('purpose')" class="raButtons" matTooltip="Flight" mat-raised-button>
      <span class="material-icons">
        settings_suggest
        </span> Purpose
    </button> -->
    <!-- <button  (click)="flightSection = !flightSection" class="raButtons" matTooltip="Flight" mat-raised-button>
      <mat-icon inline=true>{{!flightSection ? 'flight' : 'check'}}</mat-icon> Flight
    </button>
    <button  (click)="accommodationSection = !accommodationSection" class="raButtons" matTooltip="Accommodation" mat-raised-button>
      <mat-icon inline=true>{{!accommodationSection ? 'hotel' : 'check'}}</mat-icon> Accommodation
    </button>
    <button  (click)="vehicleSection = !vehicleSection" class="raButtons" matTooltip="Vehicle" mat-raised-button>
      <mat-icon inline=true>{{!vehicleSection ? 'drive_eta' : 'check'}}</mat-icon> Vehicle
    </button> -->
    <!-- <button  (click)="changeViewFn('flights')" class="raButtons" matTooltip="Flight" mat-raised-button>
      <mat-icon inline=true>flight</mat-icon> Flight
    </button> -->
    <!-- <button (click)="changeViewFn('accommodation')"  class="raButtons" matTooltip="New" mat-raised-button>
      <mat-icon inline=true>hotel</mat-icon> Accommodation
    </button>
    <button (click)="changeViewFn('vehicle')" class="raButtons" matTooltip="New" mat-raised-button>
      <mat-icon inline=true>drive_eta</mat-icon> Vehicle
    </button> -->
  </div>

  <!-- <ng-container *ngIf="isPurpose">
    <ng-template matStepLabel>Reason for Travel</ng-template>
    Purpose
      <ng-container *ngIf="purposeOfTravelFormConfigFn">
        <div>
         <app-dynamic-form
         (submittedFormData)="emittedChildDataFn($event)"
         [f]="purposeOfTravelFormConfigFn"
         [class]="purposeClass">
       </app-dynamic-form>
   </div>
     </ng-container>
  </ng-container> -->

  <!-- <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>Reason for Travel</ng-template>
      Purpose
        <ng-container *ngIf="purposeOfTravelFormConfigFn">
          <div>
           <app-dynamic-form
           (submittedFormData)="emittedChildDataFn($event)"
           [f]="purposeOfTravelFormConfigFn"
           [class]="purposeClass" >
           <span class="btnLabel">Save Purpose</span>
         </app-dynamic-form>
     </div>
       </ng-container>

    </mat-step>

    <mat-step label="Flights" state="flight" >

       <app-flights-dashboard (flightEvent)="flightDataFn($event)"></app-flights-dashboard>

    </mat-step>

    <mat-step *ngIf="accommodationSection" [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Accommodation</ng-template>
      <ng-container *ngIf="accommodationConfig">
        <app-dynamic-form (submittedFormData)="emittedChildDataFn($event)"
        [f]="accommodationConfig"
     [class]="accommodationClass"
     >    <span class="btnLabel">Save Accommodation</span></app-dynamic-form>
     </ng-container>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step  *ngIf="vehicleSection" [stepControl]="thirdFormGroup">
      <ng-template matStepLabel>Vehicle</ng-template>
      <ng-container *ngIf="vehicleConfig">
        <app-dynamic-form (submittedFormData)="emittedChildDataFn($event)"
        [f]="vehicleConfig"
     [class]="vehicleClass"
     >    <span class="btnLabel">Save Vehicle</span></app-dynamic-form>
     </ng-container>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="fetchSummaryFn()">Next</button>
        </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <ng-container *ngFor="let x of request">

        <ng-container *ngIf="x.flightFromAirport">
          <p>Flight</p>
        <div class="flightSection">
          <div class="flightAirportSection grid2">
            <div >
              <p><span class="material-icons">
                flight_takeoff
                </span>
                 Flying From</p>
              <p>{{x.flightFromAirport}}</p>
            </div>
            <div>
              <p><span class="material-icons">
                flight_land
                </span>
                 Flying To</p>
              <p>{{x.flightToAirport}}</p>
            </div>
          </div>
          <div class="flightDateSection grid2">
            <div >
              <p><span class="material-icons">
                event
                </span>
                Departure Date</p>
              <p>{{x.flightDeptDate | date: 'MM dd, YYYY'}}</p>
            </div>
            <div>
              <p><span class="material-icons">
                event
                </span>
                Return Date</p>
              <p>{{x.flightReturnDate | date: 'MM dd, YYYY'}}</p>
            </div>
          </div>
          <div class="flightPreferedTimeSection grid2">
            <div >
              <p><span class="material-icons">
                schedule
                </span>
                Departure Time</p>
              <p>{{x.flightPreferredDepartureTime}}</p>
            </div>
            <div>
              <p><span class="material-icons">
                schedule
                </span>
                Return Time</p>
              <p>{{x.flightPreferredReturnTime}}</p>
            </div>
          </div>

          <div class="flightNotesSection grid1">
            <div>
              <p><span class="material-icons">
                event_note
                </span>
               Notes</p>
              <p>{{x.flightIndividualRequestNotes}}</p>
            </div>
          </div>
        </div>
        </ng-container>


        <ng-container *ngIf="x.hotelCheckInOutDate">
        <div class="hotelSection">
          <div class="hotelCheckInOutSection grid2">
            <div >
              <p><span class="material-icons">
                hotel
                </span>
                Check-In
                </p>
              <p>{{x.start}}</p>
            </div>
            <div>
              <p>
                <span class="material-icons">
                  hotel
                </span>
                 Check-Out
                </p>
              <p>{{x.end}}</p>
            </div>
          </div>
          <div class="flightDateSection grid2">
            <div >
              <p><span class="material-icons">
                bed
                </span>
                Bed Options</p>
              <p>{{x.hotelBedOptions}}</p>
            </div>
            <div>
              <p><span class="material-icons">
                event
                </span>
                Hotel Budget
              </p>
              <p>{{x.hotelBudget}}</p>
            </div>
          </div>
          <div class="hotelLandmarkZip grid2">
            <div >
              <p><span class="material-icons">
                place
                </span>
                Preferred Hotel Location (Landmark/Zip Code)</p>
              <p>{{x.hotelLandmarkZip}}</p>
            </div>

          </div>
          <div class="flightNotesSection">
            <div>
              <p><span class="material-icons">
                notes
                </span>
                Comments/Notes</p>
              <p>{{x.hotelBookingComments}}</p>
            </div>
          </div>



        </div>

        </ng-container>

        </ng-container>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>

    <ng-template matStepperIcon="flight">
      <mat-icon>flight</mat-icon>
    </ng-template>
  </mat-horizontal-stepper> -->
</div>
