<div class="pageWrapper">
  <div class="linkRow">
    <a (click)="vehicleFn()" matTooltip="Add vehicle" class="addRemoveLink">
      <mat-icon inline="true">car_rental</mat-icon>
      {{ isVehicleRequired ? 'Remove' : 'Add' }} Vehicle
    </a>
  </div>

  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>Reason for Request</ng-template>
      <ng-container *ngIf="purposeOfTravelFormConfigFn">
        <div>
          <app-dynamic-form
            (submittedFormData)="reasonForTravelDataFn($event)"
            [f]="purposeOfTravelFormConfigFn"
            [class]="purposeClass"
          >
            [cancelBtn]="false"
            <span class="btnLabel">Save Request Reason</span>
          </app-dynamic-form>
        </div>
      </ng-container>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Accommodation</ng-template>
      <ng-container *ngIf="accommodationConfig">
        <app-dynamic-form
          (submittedFormData)="accommodationDataFn($event)"
          [f]="accommodationConfig"
          [class]="accommodationClass"
          [cancelBtn]="true"
        >
          <span class="btnLabel">Save Accommodation</span>
        </app-dynamic-form>
      </ng-container>
    </mat-step>
    <ng-container *ngIf="isVehicleRequired">
      <mat-step *ngIf="vehicleSection" [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Vehicle</ng-template>
        <ng-container *ngIf="!vehicleConfig">
          <p>
            You must complete the accommodation section before you can add a
            vehicle.
          </p>
        </ng-container>
        <ng-container *ngIf="vehicleConfig">
          <p class="vehicleNotice">
            Rentals are done on a 24 hour cycle so if you return the car more
            than an hour after pick up, you will be charged for an additional
            day. Vehicles should be returned close to the pick up time if
            possible to avoid an extra day charge.
          </p>
          <app-dynamic-form
            (submittedFormData)="vehicleDataFn($event)"
            [f]="vehicleConfig"
            [p]="patchVehicleDates"
            [class]="vehicleClass"
            [cancelBtn]="true"
          >
            <span class="btnLabel">Save Vehicle</span>
          </app-dynamic-form>
        </ng-container>
        <div>
          <button mat-button matStepperNext (click)="fetchSummaryFn()">
            Review
          </button>
        </div>
      </mat-step>
    </ng-container>

    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</div>
