<ng-container *ngIf="showPage">

    <div class="buttonRow">
      <!-- <button #btnRef="matButton" mat-raised-button class="raButtons" [routerLink]="[ 'create' ]" routerLinkActive="active">Create</button>
    <button mat-raised-button class="raButtons" [routerLink]="[ 'edit' ]" routerLinkActive="active">Edit</button> -->
  
  
  
      <ng-container *ngIf="!isBranchData">
        <button mat-raised-button class="raButtons">Create</button>
      </ng-container>
      <ng-container *ngIf="isBranchData">
        <button mat-raised-button class="raButtons" (click)="changeType('content')">Content</button>
  
        <ng-container *ngIf="!isEdit">
          <button mat-raised-button class="raButtons" (click)="changeType('edit')">Edit</button>
  
        </ng-container>
        <ng-container *ngIf="isEdit">
          <button mat-raised-button class="redBtn" (click)="changeType('content')">Cancel</button>
        </ng-container>
  
      </ng-container>
    </div>
  
  
    <ng-container *ngIf="!isBranchData">
      Create
      <app-dynamic-form (res)="submittedFormData($event)" [f]="formConfig">
        <span class="btnLabel">Submit</span>
      </app-dynamic-form>
    </ng-container>
  
    <ng-container *ngIf="isBranchData">
      <ng-container *ngIf="isContent">
        Content
        <div *ngFor="let x of branchData">
          <h1>{{x?.sectionTitle}} </h1>
          <p>{{x?.sectionCopy}}</p>
        </div>
      </ng-container>
      <ng-container *ngIf="isEdit">
        Edit
        <app-dynamic-form (res)="submittedFormData($event)" [p]="patchValues" [f]="formConfig">
          <span class="btnLabel">Submit</span>
        </app-dynamic-form>
      </ng-container>
    </ng-container>
  
    <app-file-upload [collectionPath]="pd"></app-file-upload>
  </ng-container>
  