.raButtons {
    background: white;
    color:var(--raBlue)!important;
    border: 1px solid var(--raBlue)!important;
  }
  .raButtons:hover, .raButtons:active, .raButtons:focus {
    background-color:  var(--raLightBlue)!important;
    border: 1px solid var(--raBlue)!important;
    color: var(--raBlue)!important;
  }

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 4px!important;
}

.mat-sort-header-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  letter-spacing: normal;
  outline: 0;
  width: max-content!important;
}


.buttonRow {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0;
  margin-right: 10px;
}

.submittedDate {
  padding: 10px;
  display: block;
}
.fullName {
  padding: 10px;
  display: block;
}

/* #region 300 */
@media only screen and (min-width: 300px) and (max-width: 767px){

}
/* #endregion 300 */

/* #region 768 */
@media screen and (min-width: 768px) and (max-width: 959px) {
  .fullName {
    padding: 10px;
    display: block;
  }
  .date {
    padding: 10px;
    display: block;
  }
}
/* #endregion  768 */

/* #region  960 */
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .fullName {
    padding: 10px;
    display: flex;
  }

  .date {
    padding: 10px;
    display: flex;
  }

}
/* #endregion 960 */

/* #region  1280 */
@media screen and (min-width: 1280px) and (max-width: 1919px) {

}
/* #endregion  1280 */

/* #region 1920 */
@media screen and (min-width: 1920px) and (max-width: 5000px) {

}
/* #endregion  1920 */