
.flightFromAirport {
  grid-area: flightFromAirport;
}
.flightToAirport {
  grid-area: flightToAirport;
}
.flightDeptDate {
  grid-area: flightDeptDate;
}
.flightReturnDate {
  grid-area: flightReturnDate;
}
.flightPreferredDepartureTime {
  grid-area: flightPreferredDepartureTime;
}
.flightPreferredReturnTime {
  grid-area: flightPreferredReturnTime;
}
.flightFlexibleDepartureTime {
  grid-area: flightFlexibleDepartureTime;
}
.flightFlexibleReturnTime {
  grid-area: flightFlexibleReturnTime;
}
.flightIndividualRequestNotes {
  grid-area: flightIndividualRequestNotes;
}

.multiFlightSection {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.multiFlightClass {
  display: grid;
  gap: 1rem;
  width: max-content;
  grid-template-areas:
  "flightFromAirport"
  "flightToAirport"
  "flightDeptDate"
  "flightPreferredDepartureTime"
  "flightFlexibleDepartureTime"
  "flightIndividualRequestNotes"
  "flightIndividualRequestNotes";
}

/* ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0!important;
} */
