.raButtons {
    background: white;
    color:var(--raBlue)!important;
    border: 1px solid var(--raBlue)!important;
  }
  .raButtons:hover, .raButtons:active, .raButtons:focus {
    background-color:  var(--raLightBlue)!important;
    border: 1px solid var(--raBlue)!important;
    color: var(--raBlue)!important;
  }