.cscButtons {
    background: white;
    color:var(--cscBlue)!important;
    border: 1px solid var(--cscBlue)!important;
  }
  .cscButtons:hover, .cscButtons:active, .cscButtons:focus {
    background-color:  var(--cscLightBlue)!important;
    border: 1px solid var(--cscBlue)!important;
    color: var(--cscBlue)!important;
  }