<div class="pageWrapper">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>Reason for Request</ng-template>
      <ng-container *ngIf="purposeOfTravelFormConfigFn">
        <div>
          <app-dynamic-form
            (submittedFormData)="reasonForTravelDataFn($event)"
            [f]="purposeOfTravelFormConfigFn"
            [class]="purposeClass"
            [requestType]="reasonForTravel"
            [cancelBtn]="false"
          >
            <span class="btnLabel">Save Request Reason</span>
          </app-dynamic-form>
        </div>
      </ng-container>
    </mat-step>

    <mat-step *ngIf="vehicleSection" [stepControl]="thirdFormGroup">
      <ng-template matStepLabel>Vehicle</ng-template>
      <p class="vehicleNotice">
        Rentals are done on a 24 hour cycle so if you return the car more than
        an hour after pick up, you will be charged for an additional day.
        Vehicles should be returned close to the pick up time if possible to
        avoid an extra day charge.
      </p>
      <ng-container *ngIf="vehicleConfig">
        <app-dynamic-form
          (submittedFormData)="vehicleDataFn($event)"
          [f]="vehicleConfig"
          [class]="vehicleClass"
        >
          <span class="btnLabel">Save Vehicle</span>
        </app-dynamic-form>
      </ng-container>
      <div class="buttonRow">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="fetchSummaryFn()">
          Review
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</div>
