
  a, .btn-outline-primary {
    border: 2px solid #242d3c!important;
    color: #242d3c!important;
  }

  a:hover, .btn-outline-primary:hover {
    background-color: #ffc529!important;
    color: white;
  }



.newsfeedWrapper {
  margin-top: 1rem;
  padding: .5rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(minmax(300px, 1fr));
}
.newsfeedWrapper h1{
  text-align: center;
}
.newsfeedContainer {
  width: 96%;
  margin: 1rem 0;
}

.raGrid{
  display: grid;
  gap: 1rem;
  grid-template-areas:
  "newsImgWrapper"
  "newsCopyWrapper"
  ;
  border: 1px solid #bbb;
  padding: 1rem;
}


.newsImgWrapper {
  /* max-height: 500px; */
  grid-area: newsImgWrapper;
  overflow: hidden;
}
img.newsImg {
  width:100%;
  background-position: center;
  background-size: cover;
  /* max-height: 500px; */
  overflow: hidden;
}
.newsCopyWrapper {
  grid-area: newsCopyWrapper;
  max-height: 400px;

}

p.newsTitle {
  font-size: 1.1rem;
font-weight: bold;
margin-top: .5rem;
}
p {
  font-size: 1rem;
  line-height: 1.1;
}

.newsDateContainer {
  align-content: center;
  flex-grow: 1;
  margin: .5rem 0;
}
.newsCopyContainer {
  padding: 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncatedCopy {
  text-align: justify;
  white-space: pre-line;
 max-width:100%;
 line-height: 1.2;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
overflow:hidden;
text-overflow: ellipsis;
display: -webkit-box;
}
/* #region 300 */
@media only screen and (min-width: 300px) and (max-width: 767px){
  .newsfeedWrapper {
    margin: 5rem auto;
  }
  .raGrid {
    display: grid;
    grid-template-areas:
    "newsImgWrapper"
    "newsCopyWrapper"
    ;
  }

}
/* #endregion 300 */

/* #region 768 */
@media screen and (min-width: 768px) and (max-width: 959px) {
  .newsfeedWrapper {

    margin: 1rem auto;
  }
  .raGrid {
    display: grid;
    grid-template-areas:
    "newsImgWrapper"
    "newsCopyWrapper"
    ;
  }
}
/* #endregion  768 */

/* #region  960 */
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .newsfeedWrapper {
    max-width: 130ch;
    margin: 1rem auto;
  }

  .raGrid {
  display: grid;
  grid-template-areas:
  "newsImgWrapper newsCopyWrapper"
  ;
}

}
/* #endregion 960 */

/* #region  1280 */
@media screen and (min-width: 1280px) and (max-width: 1919px) {

  .newsfeedWrapper {
    max-width: 90%;
    margin: 1rem auto;
  }
  .newsfeedContainer {
    margin-top: 1rem;
    padding: .5rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .raGrid{
    display: grid;
    gap: 1rem;
    grid-template-areas:
    "newsImgWrapper"
    "newsCopyWrapper"
    ;
    border: 1px solid #bbb;
    padding: 1rem;
  }
}
/* #endregion  1280 */

/* #region 1920 */
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .newsfeedWrapper {
    max-width: 130ch;
    margin: 5rem auto;
  }

  .raGrid {
    display: grid;
    grid-template-areas:
    "newsImgWrapper newsCopyWrapper"
    ;
  }
}
/* #endregion  1920 */
