.faqWrapper {
    padding: 1rem;
    border: 1px solid #ddd;
    margin: 1rem 0;
    animation: fadeIn 500ms forwards;
  }
  
  .topicsList {
    margin: 1rem;
  }
  
  .topicsList button{
    margin-right: 1rem;
  }
  .togglePrivatePublic {
    margin-left: 1rem;
    color: white;
  }
  .publicOff {
    background-color:coral;
  
  }
  .public {
    background-color:rgb(47, 106, 255);
  
  }
  .qaAdmin {
    display: flex;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
  
  .deleteBtn {
    display: grid;
    justify-self: end;
  }
  
  .fill-space {
    flex: 1 1 auto;
  }
  
  .documentLinkWrapper {
    margin: .5rem 0;
  }
  /* .pdfUploadBtn {
    display: flex;
    align-self: flex-end;
  } */
  .adminBtnWrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  