
#raText{
  display: flex;
gap: .5rem;
	width:234px;
	margin:auto;
}

.raText{
	color: #242d3c;
	font-size: 1.35rem;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_raText;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:normal;
}

#raText_1{
  background-color: #242d3c;
  padding: .1rem .5rem;
	animation-delay:0.5s;
}
#raText_2{
  background-color: #242d3c;
  padding: .1rem .5rem;
	animation-delay:.75s;
}
#raText_3{
  background-color: #242d3c;
  padding: .1rem .5rem;
	animation-delay:1s;
}

@keyframes bounce_raText{
	0%{
		transform: translateY(0);
		color:rgb(255,197,41);
    background-color: #242d3c;
    padding: .1rem .5rem;

	}
50% {
  transform: translateY(5px);
}
	100%{
    transform: translateY(-5px);

		color:rgb(36,45,60);
    background-color: rgb(255,197,41);
    padding: .1rem .5rem;
	}
}

@-o-keyframes bounce_raText{
	0%{
		-o-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_raText{
	0%{
		-ms-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_raText{
	0%{
		-webkit-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_raText{
	0%{
		-moz-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}
