<div class="">
    <div class="venueNameSection">
      <ng-container >  
          <button
          mat-raised-button
          class=""
          (click)="showAddBulletinBoardNameFn()"
          [ngClass]="showAddBulletinBoardTitleInput ? 'redBtn' : ' greenBtn'">
          <mat-icon>{{
            showAddBulletinBoardTitleInput ? "cancel" : "add_circle"
          }}</mat-icon>
          {{ showAddBulletinBoardTitleInput ? "Cancel" : "BulletinBoard Name" }}
        </button>  
        <ng-container *ngIf="showAddBulletinBoardTitleInput">
          <app-dynamic-form
            (submittedFormData)="emittedFormDataFn($event)"
            [f]="formConfig"
            [class]="bulletinBoardName"
          >
          <span class="btnLabel">Submit</span>
        </app-dynamic-form>
        </ng-container>
      </ng-container>  
    </div>
  </div>
  
  