<div class="pageWrapper">

  <div class="buttonRow">
    <button  (click)="accomodationFn()"
    class="cscButtons" matTooltip="Flight" 
    mat-raised-button>
      <mat-icon inline=true>hotel</mat-icon> 
      {{isAccommodationRequired ? 'Remove' : 'Add'}} Accomodation
    </button>
    <button  class="cscButtons" matTooltip="New" mat-raised-button>
      <mat-icon inline=true></mat-icon> Add Vehicle
    </button>
  
  </div>

   <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>Reason for Travel</ng-template>
      Purpose
        <!-- <app-travel-purpose></app-travel-purpose> -->
        <ng-container *ngIf="purposeOfTravelFormConfigFn">
          <div>
           <app-dynamic-form
           (submittedFormData)="reasonForTravelDataFn($event)"
           [f]="purposeOfTravelFormConfigFn"
           [class]="purposeClass" >
           [cancelBtn]="false"
           <span class="btnLabel">Save Request Reason</span>
         </app-dynamic-form>
     </div>
       </ng-container>
        <!-- <div>
          <button mat-button matStepperNext >Next</button>
        </div> -->
    </mat-step>

    <mat-step label="Flights" state="flight" >
        <!-- <ng-template matStepLabel>Flights</ng-template> -->
        <!-- <button mat-raised-button (click)="addFlight = !addFlight" id="toggle-linear">
          {{!addFlight ? 'Add Flight' : 'No Flight'}}
        </button> -->
        <ng-container>
          <div class="buttonRow">
            <button class="cscButtons" mat-raised-button (click)="changeFlightTypeFn('return')">Return</button>
            <button class="cscButtons" mat-raised-button (click)="changeFlightTypeFn('single')">One Way</button>
            </div>
             <ng-container *ngIf="isReturn">
                  RETURN
                  <ng-container *ngIf="returnFlightFormConfig">
                     <app-dynamic-form
                     (submittedFormData)="flightDataFn($event)"
                     (cancelSectionSelection)="skipSectionFn($event)"
                     [f]="returnFlightFormConfig"
                     [class]="returnFlightClass"
                     [cancelBtn]="true"
                  >
                  <span class="btnLabel">Save Flights</span>
                  <span class="noSection">No Air Travel</span>
                </app-dynamic-form>
                  </ng-container>

                </ng-container>


                <ng-container *ngIf="isSingle">
                  SINGLE
                  <ng-container *ngIf="singleFlightFormConfig">
                     <app-dynamic-form
                     (submittedFormData)="flightDataFn($event)"
                     (cancelSectionSelection)="skipSectionFn($event)"
                     [f]="singleFlightFormConfig"
                  [class]="singleFlightClass"
                  [cancelBtn]="true"
                  >
                  <span class="btnLabel">Save Flight</span>
                  <span class="noSection">No Air Travel</span>
                </app-dynamic-form>
                  </ng-container>

                </ng-container>
              </ng-container>

              <div>
                <button mat-button matStepperPrevious>Back</button>
                <!-- <button mat-button matStepperNext>Next</button> -->
              </div>
    </mat-step>

    <ng-container *ngIf="isAccommodationRequired">
      <mat-step  [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Accommodation</ng-template>
      <ng-container *ngIf="accommodationConfig">
        <app-dynamic-form (submittedFormData)="accommodationDataFn($event)"
        (cancelSectionSelection)="skipSectionFn($event)"
        [f]="accommodationConfig"
     [class]="accommodationClass"
     [cancelBtn]="true"
     >
     <span class="btnLabel">Save Accommodation</span>
     <span class="noSection">No Accommodation</span>
    </app-dynamic-form>
     </ng-container>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <!-- <button mat-button matStepperNext>Next</button> -->
        </div>
    </mat-step>
    </ng-container>
    

    <mat-step  *ngIf="vehicleSection" [stepControl]="thirdFormGroup">
      <ng-template matStepLabel>Vehicle</ng-template>
      <p class="vehicleNotice">
        Rentals are done on a 24 hour cycle so if you return the car more than an hour after pick up, you will be charged for an additional day.  Vehicles should be returned close to the pick up time if possible to avoid an extra day charge.
      </p>
      <ng-container *ngIf="vehicleConfig">
        <app-dynamic-form (submittedFormData)="vehicleDataFn($event)"
        (cancelSectionSelection)="fetchSummaryFn()"
        [f]="vehicleConfig"
     [class]="vehicleClass"
     [cancelBtn]="true"
     >
     <span class="btnLabel">Save Vehicle</span>
     <span class="noSection">No Vehicle</span>
    </app-dynamic-form>
     </ng-container>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="fetchSummaryFn()">Review</button>
        </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Review</ng-template>


    </mat-step>

  </mat-horizontal-stepper>



</div>
