.multiCityWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.multiCityForm {
  border-right: 1px solid red;
}

.flightIcon span.material-icons {
  transform: rotate(90deg);
}

.flightLeg {
  grid-area: flightLeg;
}
.flightDate {
  grid-area: flightDate;
}
.flightFrom {
  grid-area: flightFrom;
}
.flightFromWrapper {
  grid-area: flightFromWrapper;
}
.flightTo {
  grid-area: flightTo;
}
.flightToWrapper {
  grid-area: flightToWrapper;
}

/* .flighDateWrapper,
  .flightFromWrapper,
   .flightToWrapper{
      border: 1px solid #ddd;
      padding: 1rem;
      margin: .5rem;
  } */

.flightLeg {
  font-weight: bold;
}

.flightDetails {
  margin: 0.5rem;
  border: 1px solid #ddd;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'flightLeg flightFromWrapper '
    'flightDate flightToWrapper ';
  gap: 0.5rem;
  align-items: start;
}
