<div id="multiCityFlights">
  <div class="multiCityWrapper">
    <div class="multiCityForm">
      <button mat-raised-button class="greenBtn" (click)="addFlightLegFn()">
        Add Flight
      </button>

      <ng-container *ngIf="isShowForm">
        <ng-container *ngIf="multiFlightFormConfig">
          <app-dynamic-form
            (submittedFormData)="flightDataFn($event)"
            [f]="multiFlightFormConfig"
            [p]="multiCityPatchValues"
            [class]="multiFlightClass"
            [requestType]="multiCityRequestName"
            [cancelBtn]="true"
          >
            <span class="btnLabel">Save Leg</span>
          </app-dynamic-form>
        </ng-container>
      </ng-container>
    </div>

    <div class="multiCityList">
      <p>Total FLights: {{ totalFlights }}</p>
      <ng-container *ngIf="totalFlights >= 2">
        <button mat-button matStepperNext (click)="fetchSummaryFn()">
          Finished
        </button>
      </ng-container>

      <ng-container *ngIf="multiCityList | async">
        <ng-container *ngFor="let x of multiCityList | async; let i = index">
          <div class="flightDetails">
            <div class="flightLeg">
              <button
                mat-raised-button
                class="redBtn"
                (click)="deleteFn(x.deleteId)"
              >
                Delete
              </button>
              <p class="bold">Flight {{ i + 1 }}</p>
            </div>
            <div class="flightDate">
              <p class="bold">Departing</p>
              <p>
                {{ x.flightStartDateMM }} / {{ x.flightStartDateDD }} /
                {{ x.flightStartDateYYYY }}
              </p>
            </div>

            <div class="flightFromWrapper">
              <p class="bold">From</p>
              <p>
                <span class="flightFrom">
                  {{ x.flightFromAirport.optionName }}</span
                >
              </p>
            </div>
            <div class="flightToWrapper">
              <p class="bold">To</p>
              <p>
                <span class="flightTo">
                  {{ x.flightToAirport.optionName }}
                </span>
              </p>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
