.travelFlights {
border: 1px solid var(--raBlue);
padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}

.travelFlights > div{
border: 1px solid #ddd;
padding: 1rem;
}

#flightSection {
width: 90%;
}

.sectionHeading {
  padding: .5rem;
  background-color: var(--raBlue);
  color: white;
  font-size: 1.2rem;
}
.sectionTitle {
  font-weight: bold;
  margin-bottom: .5rem;
}

.pageWrapper {
  width: 96%;
}

.myTripsActive {
  background-color: var(--raLightBlue);
  color: var(--raMidnightBlue);
text-transform: uppercase;
}
