<div class="pageWrapper">
  <div class="buttonRow">
    <button
      (click)="changeViewFn('confirmed')"
    
      matTooltip="Flight"
      mat-raised-button
      [ngClass]="{myTripsActive: isConfirmed}"
    >
    <span class="material-icons">
      done_all
      </span> Confirmed
    </button>
    <button
      (click)="changeViewFn('pending')"
     
      matTooltip="Pending"
      mat-raised-button
      [ngClass]="{myTripsActive: isPending}"
    >
    <span class="material-icons">
      hourglass_empty
      </span> Pending
    </button>
    <button
      (click)="changeViewFn('draft')"
     
      matTooltip="Saved as draft"
      mat-raised-button
      [ngClass]="{myTripsActive: isDraft}"
    >
    <span class="material-icons">
      assignment
      </span> Draft
    </button>
  </div>



<ng-container *ngIf="isConfirmed">
  CONFIRMED
  <ng-container *ngIf="myTrips | async">
    <app-itinerary-template [travelRequest]="myTrips"></app-itinerary-template>
</ng-container>
</ng-container>

<ng-container *ngIf="isPending">
  PENDING
  <ng-container *ngIf="myTrips | async">
    <app-itinerary-template [travelRequest]="myTrips"></app-itinerary-template>
</ng-container>
</ng-container>

<ng-container *ngIf="isDraft">
  DRAFT
  <ng-container *ngIf="myTrips | async">
    <app-itinerary-template [travelRequest]="myTrips"></app-itinerary-template>
</ng-container>
</ng-container>



</div>
