.contentWrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 400px;
    grid-template-areas: 
    "dynamicTable addedTable"
    ;
}

.dynamicTable {
    grid-area: dynamicTable;
}
.addedTable {
    grid-area: addedTable;
}

.addedTravelersData {
    display: flex;
    align-items: center;
}

.colorRed {
    color: red;
}
.colorGreen {
    color: green;
}

.addFlightInfo {
    display: flex;
    align-items: center;
}