<div class="pageWrapper">
  <div class="linkRow">
    <a
      (click)="toggleAccommodationOptionFn()"
      matTooltip="Accomodation"
      class="addRemoveLink"
    >
      <mat-icon inline="true">hotel</mat-icon>
      {{ isAccommodationRequired ? 'Remove' : 'Add' }} Accomodation
    </a>
    <a
      (click)="toggleVehicleOptionFn()"
      matTooltip="Add Vehicle"
      class="addRemoveLink"
    >
      <mat-icon inline="true">car_rental</mat-icon>
      {{ isVehicleRequired ? 'Remove' : 'Add' }} Vehicle
    </a>
  </div>

  <mat-stepper
    [orientation]="(stepperOrientation | async)!"
    (selectionChange)="selectionChange($event)"
    [linear]="isLinear"
    #stepper
  >
    <mat-step>
      <ng-template matStepLabel>
        <span> Reason for Travel </span>
      </ng-template>
      Purpose
      <ng-container *ngIf="purposeOfTravelFormConfigFn">
        <div>
          <app-dynamic-form
            (submittedFormData)="reasonForTravelDataFn($event)"
            [f]="purposeOfTravelFormConfigFn"
            [p]="patchReason"
            [class]="purposeClass"
            [requestType]="reasonForTravel"
            [cancelBtn]="false"
          >
            <span class="btnLabel">Save Request Reason</span>
          </app-dynamic-form>
        </div>
      </ng-container>
    </mat-step>

    <mat-step label="Flights" state="flight">
      <ng-container>
        <div class="buttonRow">
          <ng-container *ngIf="isReturnFlight">
            <button
              [ngClass]="{ myTripsActive: isReturn }"
              mat-raised-button
              (click)="changeFlightTypeFn('return')"
            >
              Return
            </button>
          </ng-container>
          <ng-container *ngIf="isOneWayFlight">
            <button
              [ngClass]="{ myTripsActive: isSingle }"
              mat-raised-button
              (click)="changeFlightTypeFn('single')"
            >
              One Way
            </button>
          </ng-container>
          <ng-container *ngIf="isMuliCityFlights">
            <button
              [ngClass]="{ myTripsActive: isMulti }"
              mat-raised-button
              (click)="changeFlightTypeFn('multi')"
            >
              Multi City
            </button>
          </ng-container>
        </div>

        <ng-container *ngIf="isReturn">
          <app-return-city-flights
            (flightSubmitted)="flightSubmittedFn($event)"
          ></app-return-city-flights>
        </ng-container>

        <ng-container *ngIf="isSingle">
          <app-single-city-flights
            (flightSubmitted)="flightSubmittedFn($event)"
          ></app-single-city-flights>
        </ng-container>

        <ng-container *ngIf="isMulti">
          <app-multi-city-flights></app-multi-city-flights>
        </ng-container>
      </ng-container>

      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>

    <ng-container *ngIf="isAccommodationRequired">
      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Accommodation</ng-template>

        <div>
          <p class="accommodationNotice">
            The dates of your return flight have been pre-populated for your
            convenience. If you only need accommodation for part of your trip
            please change them here.
          </p>
        </div>

        <ng-container *ngIf="accommodationConfig">
          <app-dynamic-form
            (submittedFormData)="accommodationDataFn($event)"
            [f]="accommodationConfig"
            [p]="patchDates"
            [class]="accommodationClass"
          >
            <span class="btnLabel">Save Accommodation</span>
          </app-dynamic-form>
        </ng-container>
        <div></div>
      </mat-step>
    </ng-container>

    <ng-container *ngIf="isVehicleRequired">
      <mat-step *ngIf="vehicleSection" [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Vehicle</ng-template>
        <p class="vehicleNotice">
          Rentals are done on a 24 hour cycle so if you return the car more than
          an hour after pick up, you will be charged for an additional day.
          Vehicles should be returned close to the pick up time if possible to
          avoid an extra day charge.
        </p>
        <ng-container *ngIf="vehicleConfig">
          <app-dynamic-form
            (submittedFormData)="vehicleDataFn($event)"
            (cancelSectionSelection)="fetchSummaryFn()"
            [f]="vehicleConfig"
            [p]="patchVehicleDates"
            [class]="vehicleClass"
            [cancelBtn]="true"
          >
            <span class="btnLabel">Save Vehicle</span>
          </app-dynamic-form>
        </ng-container>
        <div>
          <button mat-button matStepperNext (click)="fetchSummaryFn()">
            Review
          </button>
        </div>
      </mat-step>
    </ng-container>
  </mat-stepper>
</div>
