.flightFromAirport {
  grid-area: flightFromAirport;
}
.flightToAirport {
  grid-area: flightToAirport;
}
.flightDeptDate {
  grid-area: flightDeptDate;
}
.flightReturnDate {
  grid-area: flightReturnDate;
}
.flightPreferredDepartureTime {
  grid-area: flightPreferredDepartureTime;
}
.flightPreferredReturnTime {
  grid-area: flightPreferredReturnTime;
}
.flightFlexibleDepartureTime {
  grid-area: flightFlexibleDepartureTime;
}
.flightFlexibleReturnTime {
  grid-area: flightFlexibleReturnTime;
}
.flightIndividualRequestNotes {
  grid-area: flightIndividualRequestNotes;
}
.purposeOfTravelNotes {
  grid-area: purposeOfTravelNotes;
}

.purposeClass {
  display: grid;
  gap: 1rem;
  width: max-content;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'managerWhoApproved billableBranch'
    'purposeOfTravel jobId'
    'purposeOfTravelNotes purposeOfTravelNotes';
}

.returnFlightClass {
  display: grid;
  gap: 1rem;
  width: max-content;
  grid-template-areas:
    'flightFromAirport flightToAirport'
    'flightDeptDate flightReturnDate'
    'flightPreferredDepartureTime flightPreferredReturnTime'
    'flightFlexibleDepartureTime flightFlexibleReturnTime'
    'flightIndividualRequestNotes flightIndividualRequestNotes';
}
/* .singleFlightClass {
  display: grid;
  gap: 1rem;
  width: max-content;
  grid-template-areas:
  "flightFromAirport flightToAirport"
  "flightDeptDate flightPreferredDepartureTime"
  ". flightFlexibleDepartureTime"
  "flightIndividualRequestNotes flightIndividualRequestNotes";
} */
.multiFlightClass {
  display: grid;
  gap: 1rem;
  width: max-content;
  grid-template-areas:
    'flightFromAirport flightList'
    'flightToAirport flightList'
    'flightDeptDate flightList'
    'flightPreferredDepartureTime flightList'
    'flightFlexibleDepartureTime flightList'
    'flightIndividualRequestNotes flightList'
    'flightIndividualRequestNotes flightList';
}

.accommodationForFlightsClass {
  display: grid;
  gap: 1rem;
  justify-content: start;
  grid-template-areas:
    'hotelCheckInDate hotelCheckOutDate'
    'hotelBedOptions hotelBudget'
    'hotelLandmarkZip . '
    'hotelBookingComments hotelBookingComments';
}

.vehicleForFlightsClass {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    'vehiclePickUpDate vehicleReturnDate'
    'vehiclePickUpTime vehicleReturnTime'
    'vehiclePickUpLocation vehicleDropOffLocation'
    'vehiclePickUpDriverName vehicleSize'
    'vehicleBookingComments .'
    'vehicleDirectBilled .';
}

.vehicleNotice {
  color: red;
  font-weight: bold;
  font-size: 1rem;
  width: 600px;
  margin-bottom: 1rem;
}
.accommodationNotice {
  font-weight: normal;
  font-size: 1rem;
  width: 600px;
  margin-bottom: 1rem;
}

.multiCityWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.multiCityForm {
  border-right: 1px solid red;
}

.myTripsActive {
  /* background-color: var(--raLightBlue); */
  border: 1px solid var(--raMidnightBlue);
  color: var(--raMidnightBlue);
  text-transform: uppercase;
}
