<div class="rewardsPageWrapper">
  <div class="airlineWrapper">
    <ng-container *ngIf="(airlineRewards | async) as airRewards">
      <ng-container *ngIf="airRewards?.length > 0; else noAirline">
        <div class="sectionHeader">
          <div class="sectionTitle">
            <p>Airlines</p>
          </div>
          <div class="sectionAddRecord">
            <button aria-label="" mat-icon-button class="" (click)="createFn('airline')">
              <span class="material-icons"> playlist_add </span>
            </button>
          </div>
        </div>
        <div class="rewardsWrapper">
        <div *ngFor="let x of airRewards" class="">
            <div>
                <div class="rewardType airline">
            <p class="rewardMembershipName air">
              {{ x.rewardMembershipName }}
            </p>
            <p class="rewardMembershipId">
              {{ x.rewardMembershipId }}
            </p>
          </div>
          <div class="rewardAdmin ">
            <button
              aria-label=""
              mat-icon-button
              class=""
              (click)="updateFn(x.docId)"
            >
              <span class="material-icons"> edit </span>
            </button>
            <button
              aria-label=""
              mat-icon-button
              class=""
              (click)="deleteFn(x.docId, x.rewardMembershipName)"
            >
              <span class="material-icons"> delete </span>
            </button>
          </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noAirline>
      <p>No Airline Rewards Found</p>
    </ng-template>
  </div>
  <div class="accommodationWrapper">
    <ng-container *ngIf="accommodationRewards | async as accRewards">
      <ng-container *ngIf="accRewards.length > 0; else noAccommodation">
        <div class="sectionHeader">
          <div class="sectionTitle">
            <p>Accommodation</p>
          </div>
          <div class="sectionAddRecord">
            <button aria-label="" mat-icon-button class="" (click)="createFn('accommodation')">
              <span class="material-icons"> playlist_add </span>
            </button>
          </div>
        </div>
        <div class="rewardsWrapper">
        <div *ngFor="let x of accRewards" class="">
          <div class="rewardType accommodation">
            <p class="rewardMembershipName air">
              {{ x.rewardMembershipName }}
            </p>
            <p class="rewardMembershipId">
              {{ x.rewardMembershipId }}
            </p>
          </div>
          <div class="rewardAdmin ">
            <button
              aria-label=""
              mat-icon-button
              class=""
              (click)="updateFn(x.docId)"
            >
              <span class="material-icons"> edit </span>
            </button>
            <button
              aria-label=""
              mat-icon-button
              class=""
              (click)="deleteFn(x.docId, x.rewardMembershipName)"
            >
              <span class="material-icons"> delete </span>
            </button>
          </div>
        </div>
      </div>
      </ng-container>
    </ng-container>
    <ng-template #noAccommodation>
      <div class="sectionTitle">
        <div class="sectionHeader">
          <div class="sectionTitle">
            <p>Accommodation</p>
          </div>
          <div class="sectionAddRecord">
            <button aria-label="" mat-icon-button class="" (click)="createFn('accommodation')">
              <span class="material-icons"> playlist_add </span>
            </button>
          </div>
        </div>
      </div>
      <p>No Accommodation Rewards Found</p>
    </ng-template>
  </div>
  <div class="vehicleWrapper">
    <ng-container *ngIf="vehicleRewards | async as vehRewards">
      <ng-container *ngIf="vehRewards.length > 0; else noVehicle">
        <div class="sectionHeader">
          <div class="sectionTitle">
            <p>Vehicle</p>
          </div>
          <div class="sectionAddRecord">
            <button aria-label="" mat-icon-button class="" (click)="createFn('vehicle')">
              <span class="material-icons"> playlist_add </span>
            </button>
          </div>
        </div>
        <div class="rewardsWrapper">
        <div *ngFor="let x of vehRewards" class="">
          <div class="rewardType airline">
            <p class="rewardMembershipName air">
              {{ x.rewardMembershipName | titlecase }}
            </p>
            <p class="rewardMembershipId">
              {{ x.rewardMembershipId }}
            </p>
          </div>
          <div class="rewardAdmin ">
            <button
              aria-label=""
              mat-icon-button
              class=""
              (click)="updateFn(x.docId)"
            >
              <span class="material-icons"> edit </span>
            </button>
            <button
              aria-label=""
              mat-icon-button
              class=""
              (click)="deleteFn(x.docId, x.rewardMembershipName)"
            >
              <span class="material-icons"> delete </span>
            </button>
          </div>
        </div>
      </div>
      </ng-container>
    </ng-container>
    <ng-template #noVehicle>
      <p>No Vehicle Rewards Found</p>
    </ng-template>
  </div>
</div>
