.active {
    font-weight: bold;
    text-transform: uppercase!important;
    border: 1px solid var(--cscLightBlue);
    background-color: var(--cscLightBlue)!important;
    color: var(--cscMidnightBlue)!important;
  }
  