.newProfileWrapper {
  max-width: 1200px;
  padding: 2rem;
}

.personLegalNamePrefix {
  grid-area: personLegalNamePrefix;
}
:host ::ng-deep .personLegalNamePrefix .mat-form-field {
  min-width: 100px !important;
  max-width: 200px;
  height: max-content;
}
.personLegalNameSuffix {
  grid-area: personLegalNameSuffix;
}
::ng-deep .personLegalNameSuffix .mat-form-field {
  min-width: 100px !important;
  max-width: 200px;
  height: max-content;
}
.personLegalNameFirst {
  grid-area: personLegalNameFirst;
}
.personLegalNameMiddle {
  grid-area: personLegalNameMiddle;
}
.personLegalNameLast {
  grid-area: personLegalNameLast;
}
.personGender {
  grid-area: personGender;
  display: grid;
}
.personBirthDate {
  grid-area: personBirthDate;
}
.personEmail {
  grid-area: personEmail;
}
.personCellPhone {
  grid-area: personCellPhone;
}
.personCscBranch {
  grid-area: personCscBranch;
}
.personKnownTravelerNumber {
  grid-area: personKnownTravelerNumber;
}
.personSeatPreference {
  grid-area: personSeatPreference;
}
mat-radio-button {
  margin-right: 0.5rem;
}

.birthMonth {
  grid-area: birthMonth;
}

.birthDate {
  grid-area: birthDate;
}

.birthYear {
  grid-area: birthYear;
}

.newProfile {
  display: grid;
  gap: 1rem;
  /* width: max-content; */
  justify-content: start;
  /* grid-template-columns: repeat(5, 1fr ); */
  grid-template-areas:
    'personLegalNamePrefix . . '
    'personLegalNameFirst personLegalNameMiddle personLegalNameLast '
    'personLegalNameSuffix . . '
    'personBirthDate personGender  .'
    'personCellPhone personCscBranch .'
    'personKnownTravelerNumber personSeatPreference .  ';
}

/* #region 300 */
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .newProfile {
    margin-bottom: 2rem;
    /* grid-template-columns: repeat(5, 1fr ); */
    grid-template-areas:
      'personLegalNamePrefix'
      'personLegalNameFirst'
      'personLegalNameMiddle'
      'personLegalNameLast'
      'personLegalNameSuffix'
      'personBirthDate'
      'personGender'
      'personCellPhone'
      'personCscBranch'
      'personKnownTravelerNumber'
      'personSeatPreference';
  }
}
/* #endregion 300 */

/* #region 768 */
@media screen and (min-width: 768px) and (max-width: 959px) {
}
/* #endregion  768 */

/* #region  960 */
@media screen and (min-width: 960px) and (max-width: 1279px) {
}
/* #endregion 960 */

/* #region  1280 */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}
/* #endregion  1280 */

/* #region 1920 */
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
/* #endregion  1920 */
