<div class="">
  <div class="venueNameSection">
    <ng-container *ngIf="!groupTravelName">
      <button
        mat-raised-button
        class="addCancelGroupTitle"
        (click)="showAddGroupTravelNameFn()"
        [ngClass]="showAddGroupTravelTitleInput ? 'redBtn' : ' greenBtn'"
      >
        <mat-icon>{{
          showAddGroupTravelTitleInput ? 'cancel' : 'add_circle'
        }}</mat-icon>
        {{ showAddGroupTravelTitleInput ? 'Cancel' : ' Title' }}
      </button>

      <ng-container *ngIf="showAddGroupTravelTitleInput">
        <app-dynamic-form
          (submittedFormData)="submittedFormData($event)"
          [f]="formConfig"
          [class]="groupTravelName"
        >
          <span class="btnLabel">Submit</span>
        </app-dynamic-form>
      </ng-container>
    </ng-container>
  </div>
</div>
