.dashboardWrapper {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    width: 90vw;
    grid-template-columns: 250px 1fr;
  }
  
  .adminNav {
    padding: 0 1rem;
    border-right: 1px solid #bbb;
  }
  .adminNav a {
    cursor: pointer;
  }
  
  .active {
    font-weight: bold;
    text-transform: uppercase!important;
    border: 1px solid var(--cscMidnightBlue);
    background-color: var(--cscMidnightBlue)!important;
    color: white!important;
  }
  /* .pageWrapper {
  padding: 2rem;
} */
mat-sidenav-container {
  height: calc(100vh - 65px);
}
.dashboardWrapper {
  padding: 1rem;
  display: grid;
  width: 200px;
  gap: 1rem;
  grid-template-columns: 200px 1fr;
}
mat-sidenav {
  /* width:300px; */
  margin-right:.5rem;
  height: 100vh;
  width: 150px;
}
.mat-drawer-content {
  position: relative;
  display: block;
  height: 100vh;
overflow: auto;
z-index: -1;
}


::ng-deep .active {

  background-color: var(--cscMidnightBlue)!important;
  color: white!important;
  text-transform: uppercase;
  width: min-content;
}
::ng-deep .delete {
  border-radius: 10px;
  background-color: red!important;
  color: white!important;
  text-transform: uppercase;
  width: min-content;
}

.material-icons {
  margin-right: .5rem;
}

.mainContent {
  padding: 0 1rem;
  width: 100%;
max-width: 225ch;
}
.emailVerified {
  color: green;
}
.emailUnverified {
  color: red;
}
.signedInAs {
  margin: .5rem 0;
}
.messages {
  margin: 2rem 0;
}

.verifyFormWrapper {
  display: grid;
  justify-items: center;
  margin: 1rem auto;
  width: 50%;
}
.verifyFormWrapper p{
  margin: 1rem 0;
}
.formWrapper {
  display: grid;
  justify-items: center;
  margin: 1rem auto;
}
.messages {
  display: grid;
  justify-content: center;
}
