<div class="pageWrapper">
  <button
    mat-button
    class=""
    *ngIf="sidenav.mode === 'side'"
    (click)="sidenav.toggle()"
  >
    <ng-container *ngIf="sidenav.opened">
      <span class="material-icons"> visibility_off </span>
      Hide Menu
    </ng-container>
    <ng-container *ngIf="!sidenav.opened">
      <span class="material-icons"> menu </span> Show Menu
    </ng-container>
  </button>
  <mat-sidenav-container
    class="example-container"
    (backdropClick)="closeSideNav()"
  >
    <mat-sidenav #sidenav (keydown.escape)="closeSideNav()">
      <div class="pageNav">
        <div class="">
          <mat-nav-list>
            <ng-container *ngFor="let x of menuArray">
              <ng-container *ngIf="sidenav.mode === 'over'">
                <a
                  mat-list-item
                  (click)="closeSideNav()"
                  color="primary"
                  [routerLink]="x.link"
                  routerLinkActive="active"
                  ><span class="material-icons-outlined">
                    {{ x.icon }}
                  </span>
                  {{ x.name }}</a
                >
              </ng-container>
              <ng-container *ngIf="sidenav.mode === 'side'">
                <a
                  mat-list-item
                  color="primary"
                  [routerLink]="x.link"
                  routerLinkActive="active"
                  ><span class="material-icons-outlined">
                    {{ x.icon }}
                  </span>
                  {{ x.name }}</a
                >
              </ng-container>
            </ng-container>
          </mat-nav-list>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <button
        mat-button
        class=""
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
      >
        <ng-container *ngIf="sidenav.opened">
          <span class="material-icons"> visibility_off </span>
          Hide Menu
        </ng-container>
        <ng-container *ngIf="!sidenav.opened">
          <span class="material-icons"> menu </span> Show Menu
        </ng-container>
      </button>
      <div class="mainContent">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
