::ng-deep .editDialog {
  min-width: fit-content;
  min-height:fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
}
::ng-deep .editGarnishmentDialog {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
}
::ng-deep mat-radio-button {
  margin-right: .7rem;
  margin-bottom: .4rem;
}
::ng-deep .cssWrapperClass mat-form-field .pageCopy {

  min-width: 600px!important;
  max-width: 800px;
}


::ng-deep .editPosition {
  width: 96%;
  height: 80%;
}
::ng-deep .personBio mat-form-field{
  min-width: 60vw!important;
  height: 80%;
}

/* #region 300 */
@media only screen and (min-width: 300px) and (max-width: 767px){
  ::ng-deep .miscellaneousSingleDayEvents  {
    min-width: 300px!important;
    max-width: 320px!important;
  }
}
/* #endregion 300 */

/* #region 768 */
@media screen and (min-width: 768px) and (max-width: 959px) {
  ::ng-deep .miscellaneousSingleDayEvents  {
    min-width: 600px!important;
    max-width: 800px!important;
  }
}
/* #endregion  768 */

/* #region  960 */
@media screen and (min-width: 960px) and (max-width: 1279px) {
  ::ng-deep .miscellaneousSingleDayEvents  {
    min-width: 600px!important;
  }
}
/* #endregion 960 */

/* #region  1280 */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  ::ng-deep .miscellaneousSingleDayEvents  {
      min-width: 600px!important;
    }
}
/* #endregion  1280 */

/* #region 1920 */
@media screen and (min-width: 1920px) and (max-width: 5000px) {

}
/* #endregion  1920 */
