.requestReviewWrapper {
    width: 90%;
    margin: 1rem 0 3rem;
    height: 100%;
    padding-bottom: 3rem;
  }

  .documentWrapper {
      display: flex;
     gap: 1rem;
     flex-wrap: wrap;
  }

  .fileName {
      margin-bottom: 1rem;
  }
  .fileName p {
      font-size: 1rem;
  }
  .documentLink {
      border: #ddd solid 1px;
      padding: 1rem;
  }
.iconWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: space-between;
}
  .deleteIcon {
      color: red;
  }

  .viewDoc .mat-mini-fab.mat-accent{
      background-color: blue!important;
  }
  .deleteIcon .mat-mini-fab.mat-accent{
      background-color: red!important;
  }
  /* .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
      background-color: red!important;
  } */
  .reasonForTravelWrapper,
  .flightSectionWrapper,
  .accommodationSectionWrapper,
  .vehicleSectionWrapper,
  .requestCost {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  
  .grid1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  .sectionHeader {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }
  /* .flightPreferedTimeSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .flightNotesSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */
  
  /* ::ng-deep.flightIndividualRequestNotes > mat-form-field{
    width: 800px;
  } */
  
  
  .sectionLabel {
    font-size: .8rem;
    margin: .5rem 0;
  }
  .sectionData {
    font-size: .8rem;
    margin: .5rem 0;
    font-weight: 700;
  }
  
  .reasonForTravelSection {
    display: grid;
    gap: 1rem;
    width: 400px;
    grid-template-areas:
    "managerWhoApproved billableBranch"
    "purposeOfTravel jobId"
    "purposeOfTravelNotes purposeOfTravelNotes"
    ;
  }
  .flightSection {
    display: grid;
    gap: 2rem;
  
    justify-content: start;
    grid-template-areas:
    "flightFromAirport flightDeptDate flightPreferredDepartureTime flightFlexibleDepartureTime"
    "flightToAirport flightEndDate flightPreferredReturnTime flightFlexibleReturnTime"
    "flightIndividualRequestNotes flightIndividualRequestNotes flightIndividualRequestNotes flightIndividualRequestNotes";
  }
  .singleFlightClass {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    grid-template-areas:
    "flightFromAirport flightToAirport"
    "flightDeptDate flightPreferredDepartureTime"
    ". flightFlexibleDepartureTime"
    "flightIndividualRequestNotes flightIndividualRequestNotes";
  }
  
  
  .hotelCheckInDate {
    grid-area: hotelCheckInDate;
  }
  .hotelCheckOutDate {
    grid-area: hotelCheckOutDate;
  }
  .hotelBedOptions {
    grid-area: hotelBedOptions;
  }
  .hotelBudget {
    grid-area: hotelBudget;
  }
  .hotelLandmarkZip {
    grid-area: hotelLandmarkZip;
  }
  .hotelBookingComments {
    grid-area: hotelBookingComments;
  }
  
  .accommodationSection{
    display: grid;
  justify-content: start;
  gap: 2rem;
    grid-template-areas:
    "hotelCheckInDate hotelCheckOutDate"
    "hotelBedOptions hotelBudget"
    "hotelLandmarkZip ."
    "hotelBookingComments hotelBookingComments"
    ;
  }
  
  .editAccommodationClass {
    display: grid;
    justify-content: start;
    gap: 2rem;
    grid-template-areas:
    "hotelCheckInDate hotelCheckOutDate"
    "hotelBedOptions hotelBudget"
    "hotelLandmarkZip hotelBookingComments"
  }
  
  .vehicleStartDate {
    grid-area: vehicleStartDate;
  }
  .vehicleEndDate {
    grid-area: vehicleEndDate;
  }
  .vehicleSize {
    grid-area: vehicleSize;
  }
  .vehiclePickUpTime {
    grid-area: vehiclePickUpTime;
  }
  .vehicleReturnTime {
    grid-area: vehicleReturnTime;
  }
  .vehicleDropOffLocation {
    grid-area: vehicleDropOffLocation;
  }
  .vehiclePickUpLocation {
    grid-area: vehiclePickUpLocation;
  }
  .vehiclePickUpDriverName {
    grid-area: vehiclePickUpDriverName;
  }
  .vehicleDirectBilled {
    grid-area: vehicleDirectBilled;
  }
  .vehicleBookingComments {
    grid-area: vehicleBookingComments;
  }
  .vehicleSize {
    grid-area: vehicleSize;
  }
  
  .vehicleSection{
    display: grid;
    gap: 2rem;
    justify-content: start;
    grid-template-areas:
    "vehicleStartDate vehicleEndDate "
    "vehiclePickUpTime vehicleReturnTime"
    "vehiclePickUpLocation vehicleDropOffLocation"
    "vehiclePickUpDriverName vehicleBookingComments"
    "vehicleDirectBilled vehicleSize"
    ;
  }
  
  .buttonRow {
    margin-bottom: 3rem;
  }
  
  /* #region 300 */
  @media only screen and (min-width: 300px) and (max-width: 767px){
  
  }
  /* #endregion 300 */
  
  /* #region 768 */
  @media screen and (min-width: 768px) and (max-width: 959px) {
  
  }
  /* #endregion  768 */
  
  /* #region  960 */
  @media screen and (min-width: 960px) and (max-width: 1279px) {
  
  }
  /* #endregion 960 */
  
  /* #region  1280 */
  @media screen and (min-width: 1280px) and (max-width: 1919px) {
  
    .accommodationSection{
      display: grid;
      justify-content: start;
      gap: 2rem;
      grid-template-areas:
      "hotelCheckInDate hotelBedOptions hotelLandmarkZip"
      "hotelCheckOutDate hotelBudget ."
      "hotelBookingComments hotelBookingComments hotelBookingComments"
      ;
    }
  
    .vehicleSection{
      display: grid;
      gap: 2rem;
  justify-content: start;
      grid-template-areas:
      "vehicleStartDate vehiclePickUpTime vehiclePickUpLocation"
      "vehicleEndDate vehicleReturnTime vehicleDropOffLocation"
      "vehiclePickUpDriverName vehicleSize vehicleDirectBilled"
      "vehicleBookingComments vehicleBookingComments vehicleBookingComments"
      ;
    }
  }
  /* #endregion  1280 */
  
  /* #region 1920 */
  @media screen and (min-width: 1920px) and (max-width: 5000px) {
  
  }
  /* #endregion  1920 */
  