/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */


  /* #region 300 */
  @media only screen
  and (min-width: 300px)
  and (max-width: 767px)
  /* and (orientation: portrait)  */{}
   /* #endregion 300 */

  /* #region 768 */
  @media screen and (min-width: 768px) and (max-width: 959px) {}
   /* #endregion  768 */

/* #region  960 */
@media screen and (min-width: 960px) and (max-width: 1279px) {}
/* #endregion 960 */

  /* #region  1280 */
  @media screen and (min-width: 1280px) and (max-width: 1919px) {}
   /* #endregion  1280 */

  /* #region 1920 */
  @media screen and (min-width: 1920px) and (max-width: 5000px) {}
   /* #endregion  1920 */

/* #region  */
/* #endregion */


html, body {
  height: 100%
}

body{
  margin: 0;
  padding: 0;
  --raBlue: #242D3C;
  --raGold:  #ffc529;
  --width: 0;
  --raDarkBlue: #242D3C;
  --raLightBlue: #D4E2F4;
  --raMidnightBlue: rgba(16, 32, 104); /*#201068 */
}
:host .actionButtonLabel {
  color: white;
}
h1,h2,h3,h4,h5,h6, p, a {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6, p, a {
  margin-block-start: .1em!important;
  margin-block-end: .1em!important;
  margin-inline-start: .1em!important;
  margin-inline-end: .1em!important;

}
.mat-drawer-container{
  background-color: white;
}
.eListItem {
  color:var(--raGold)!important;
}
.routerLinkActive {
  color:var(--raGold)!important;
}
.loadingGraphic {
  display: flex;
  justify-content: center;
}
.isDraft {
  background-color: red;
  color: white;
  padding: .5rem;
  border-radius: 5px;
}
.mat-card:not([class*=mat-elevation-z]){
  box-shadow: none;
}
.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputFile + label {
  padding: .5rem;
  font-size: .9rem;
  font-weight: 500;
  border-radius: 3px;
  color: white;
  background-color: var(--raMidnightBlue)!important;
  display: inline-block;
  cursor: pointer;
  margin: .8rem 0;
}
.inputFile:focus + label,
.inputFile + label:hover {
  padding: .5rem;
  background-color: red;
}
.inputFile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.bold {
  font-weight: bold;
}
/* #region TABLE */
.customRowStyleAlternate {
  background-color: #fbfbfb;
}

.tableSearch {
  grid-area: tableSearch;
}
.tablePaginator {
  grid-area: tablePaginator;
}

/* #endregion TABLE */
/* #region MARGIN */
.m-1-1 {
  margin: 1rem;
}
.m-1-0 {
  margin: 1rem 0;
}
.m-05-05 {
  margin: .5rem;
}
.m-0-05 {
  margin: 0 .5rem;
}
.m-0-1 {
  margin: 0 1rem;
}
.m-05-0 {
  margin: .5rem 0;
}
.m-01-01 {
  margin: .1rem;
}
.m-01-0 {
  margin: .1rem 0;
}
/* #endregion END MARGIN */

/* #region PADDING */
.p-1-1 {
  padding: 1rem;
}
.p-1-0 {
  padding: 1rem 0;
}
.p-05-05 {
  padding: .5rem;
}
.p-05-0 {
  padding: .5rem 0;
}
.p-01-01 {
  padding: .1rem;
}
.p-01-0 {
  padding: .1rem 0;
}
/*  #endregion END PADDING */


a.addRemoveLink {
  color: blue;
  cursor: pointer;
  margin-left: 1rem;
}
.linkRow {
  margin: 10px 0;
  margin-left: 1rem;
}
/* #region BUTTONS */
.buttonRow button{
  margin: 10px 0;
  margin-right: 10px;
}
.buttonRow button,
.buttonRow a {
  margin-right: 8px;
}
.buttonRow {
  display: flex;
  gap: 5px;
  margin: 10px 0;
  margin-right: 10px;
}
.export-buttons {
  margin: .5rem 0;
}
.greenBtn{
  padding: .2rem;
  background-color: green;
  color: white;
}
.assignBtn{
  padding: 0 .5rem!important;
  background-color: green;
  color: white;
  font-size: .7rem!important;
}
.redBtn{
  padding: .2rem;
  background-color: red;
  color: white;
}
.raBtn {
  padding: .5rem;
  background-color: var(--raBlue);
  color: var(--raGold);
}
.raInfoBtn {
  padding: .5rem;
  background-color: var(--raGold);
  color: var(--raBlue);
}
.raButtons {
  background: white;
  color:var(--raBlue)!important;
  border: 1px solid var(--raBlue)!important;
}
.raButtons:hover, .raButtons:active, .raButtons:focus {
  background-color:  var(--raLightBlue)!important;
  border: 1px solid var(--raBlue)!important;
  color: var(--raBlue)!important;
}

.archiveBtn {
  background: lightblue;
  color:var(--raBlue)!important;
  border: 1px solid lightblue!important;
}
.archiveBtn:hover, .archiveBtn:active, .archiveBtn:focus {
  background:  var(--raBlue)!important;
  border: 1px solid var(--raGold)!important;
  color: var(--raGold)!important;
}

.draft {
  background-color:rgb(171, 240, 61) ;
  color:navy;
  }
.new {
background-color:lightblue ;
color:navy;
}
.denied {
background-color: red;
color:white;
}
.approved {
background-color: lightgreen;
color:white;
}
.pending {
background-color: blue;
color:white;

}
.review {
background-color: orange;
color:red;
}
.authorized{
background-color: green;
color:lightgreen;
}
.confirmed {
background-color: navy;
color:white;
}
.statusBtn {
  margin-left:5px;
  width:100px;
  margin-bottom: 20px;
}
/*  #endregion END BUTTONS */

/* #region TEXT COLORS */
.raGoldText {
  color: #ffc529;
 }
 .raBlue-txt{
 color: #242D3C;
 }
  .red-txt {
   color: red;
 }
  .white-txt {
   color: white;
 }
 /*  #endregion END TEXT COLORS */

  /* #region KEYFRAMES */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* #endregion KEYFRAMES */

 /* #region BACKGROUNDS */

.red-bg{
  background-color: red;
}
.green-bg{
  background-color: green;
}
.raBlue-bg{
  background-color: var(--raBlue);
}
.raGold-bg{
  background-color: var(--raGold);
}

.isMoreThan90 {
  background: white; color: black; border:1px solid #ddd; padding: .5rem; width: fit-content;
}
.isLessThan90{
  background: green; color: white; padding: .5rem; width: fit-content;
}
.isLessThan60{
  background: yellow; color: red; padding: .5rem; width: fit-content;
}
.isLessThan30 {
  padding: .5rem;
  color: white;
  animation-name: redPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: fit-content;
}
@keyframes redPulse {
  from { background-color: #ff0d05;  }
  50% { background-color: #220202; }
  to { background-color: #ff0d05;  }
}
.isLessThan0{
   color: white;
   padding: .5rem;
   animation-name: redPulse;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   width: fit-content;
}
.activeEmployee {
  width: max-content;
  padding: .5rem;
  color: white;
  background-color: green;
}
.inactiveEmployee {
  width: max-content;
  padding: .5rem;
  color: white;
  background-color: red;
}
/*  #endregion END BACKGROUNDS */

/* #region MESSAGES */
.errorMessage {
  background: red;
  color: white;
  padding: 1rem;
  width: max-content;
}
.snackError{
  background: red;
  color: white;
  margin-top: fit-content;
}
.snackSuccess {
  margin-top: 85px!important;
  background: green;
  color: white;
  width: max-content;
}
.snackInfo {
  margin-top: 85px!important;
  background: var(--raMidnightBlue)!important;
  color: white;
  width: max-content;
}
.snackPosition{
  display: grid;
  place-items: center;
  margin-bottom: 200px;
}
.loadingMsg {
  font-size: 1.2rem;
  text-align: center;
}
/* #endregion END MESSAGES */

/* #region FONTS */
.bold {
  font-weight: bold;
}
/* #endregion END FONTS */

/* #region IMAGES */
img.resp-img {
  max-width: 100%;
  height: auto;
}
.blog-img-container img {
    max-width: 100%;
  }
/* #endregion END IMAGES */

/* #region DIALOGS */
::ng-deep .dialogConfirm {
  width: 300px;
}
::ng-deep .dialogConfirm .mat-form-field-infix {
  width: 200px;
}
/* #endregion DIALOGS */

.add-item-row {
  margin: .5rem 0;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 15px;
}
.preLineWhiteSpace {
  white-space: pre-line;
}

  /* #region GRID AREA CLASS NAMES */

  .flightDeptDate {
    grid-area: flightDeptDate;
  }
  .flightStartDate {
    grid-area: flightStartDate;
  }
  .flightReturnDate {
    grid-area: flightReturnDate;
  }
  .flightEndDate {
    grid-area: flightEndDate;
  }
  .flightToAirport {
    grid-area: flightToAirport;
  }
  .flightFromAirport {
    grid-area: flightFromAirport;
  }
  .flightPreferredDepartureTime {
    grid-area: flightPreferredDepartureTime;
  }
  .flightFlexibleDepartureTime {
    grid-area: flightFlexibleDepartureTime;
  }
  .flightIndividualRequestNotes {
    grid-area: flightIndividualRequestNotes;
  }
  .hotelCheckInCheckOutDateRange {
    grid-area: hotelCheckInCheckOutDateRange;
  }
  .hotelBedOptions {
    grid-area: hotelBedOptions;
  }
  .hotelBudget {
    grid-area: hotelBudget;
  }
  .hotelLandmarkZip {
    grid-area: hotelLandmarkZip;
  }
  .hotelBookingComments {
    grid-area: hotelBookingComments;
  }
  .hotelCheckInDate {
    grid-area: hotelCheckInDate;
  }
  .hotelCheckOutDate {
    grid-area: hotelCheckOutDate;
  }
.accommodationAddressStateAbbr{
  grid-area: accommodationAddressStateAbbr;
}
.accommodationAddressCity {
  grid-area: accommodationAddressCity;
}

  .vehiclePickUpDropOffDateRange {
    grid-area: vehiclePickUpDropOffDateRange;
  }
  .vehiclePickUpDropOffDateRange {
    grid-area: vehiclePickUpDropOffDateRange;
  }
  .vehicleSize {
    grid-area: vehicleSize;
  }
  .vehiclePickUpTime {
    grid-area: vehiclePickUpTime;
  }
  .vehicleReturnTime {
    grid-area: vehicleReturnTime;
  }
  .vehiclePickUpLocation {
    grid-area: vehiclePickUpLocation;
  }
  .vehicleDropOffLocation {
    grid-area: vehicleDropOffLocation;
  }
  .vehiclePickUpDriverName {
    grid-area: vehiclePickUpDriverName;
  }
  .vehicleDirectBilled {
    grid-area: vehicleDirectBilled;
  }
  .vehicleBookingComments {
    grid-area: vehicleBookingComments;
    resize: both;
  overflow: auto;
  }
  .vehiclePickUpDate {
    grid-area: vehiclePickUpDate;
  }
  .vehicleReturnDate {
    grid-area: vehicleReturnDate;
  }
  .managerWhoApproved {
    grid-area: managerWhoApproved;
  }
  .billableBranch {
    grid-area: billableBranch;
  }
  .purposeOfTravel {
    grid-area: purposeOfTravel;
  }
  .purposeOfTravelNotes {
    grid-area: purposeOfTravelNotes;
  }
  .jobId {
    grid-area: jobId;
  }


  /* #endregion GRID AREA CLASS NAMES */


@media only screen
and (min-width: 300px)
and (max-width: 767px)
/* and (orientation: portrait)  */{
  /* #region video */
    .youtube-holder {
      width: 100%;
      margin: 1rem auto 0;
      padding-bottom: 1rem;
    }
    .video-container {
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
    }
    .ld-vid-intro {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
    /* #endregion video */
}


 /* #region 768 */
 @media screen and (min-width: 768px) and (max-width: 959px) {}
 /* #endregion  768 */


@media screen and (min-width: 960px) and (max-width: 1279px) {
    /* #region video */
    .youtube-holder {
      width: 100%;
      margin: 1rem auto 0;
      padding-bottom: 1rem;
    }
    .video-container {
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
    }
    .ld-vid-intro {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
    /* #endregion video */
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
      /* #region video */
      .youtube-holder{
        width: 100%;
        margin: 1rem auto 0;
        padding-bottom: 1rem;
      }
       .video-container {
         position: relative;
         overflow: hidden;
         padding-top: 56.25%;
       }
       .ld-vid-intro{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border: 0;
       }
       /* #endregion video */
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
   /* #region video */
   .youtube-holder {
    width: 100%;
    margin: 1rem auto 0;
    padding-bottom: 1rem;
  }
  .video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }
 .ld-vid-intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  /* #endregion video */
}
